.start-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.start-page h1 {
  margin-bottom: 2rem;
}

.start-page-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2rem;
  align-items: flex-start;
}

.start-page-card {
  background: var(--color-background-secondary);
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.start-page-card form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.start-page-card h2 {
  margin: 0;
}

.start-page-card p {
  margin: 0;
  color: var(--text-secondary);
}

.divider {
  border-top: 1px solid var(--border-color);
  margin: 1rem 0;
}

.watchlists-container {
  display: flex;
  flex-direction: column;
}

.watchlist-item {
  display: grid;
  grid-template-columns: 120px 1fr auto;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0;
}

.watchlist-card:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
  padding: 0.5rem 0;
}

.watchlist-item:first-child {
  padding-top: 0;
}

.watchlist-item:last-child {
  padding-bottom: 0;
}

.watchlist-item-image {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.watchlist-item-content {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.watchlist-item-content h4 {
  margin: 0;
  font-size: 1rem;
}

.watchlist-item-store {
  font-size: 0.9rem;
  color: var(--text-secondary);
  font-weight: 600;
}

.watchlist-item-price-date {
  display: flex;
  gap: 0.3rem;
  color: var(--text-secondary);
  font-size: 0.75rem;
  text-wrap: nowrap;
}

.watchlist-item-dot {
  font-weight: 700;
  color: var(--text-secondary);
  border-radius: 50%;
}

.success-message {
  color: var(--color-success);
  font-size: 0.9rem;
  font-weight: 500;
  display: block;
  text-align: center;
  margin-top: 1rem;
}

.product-preview-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-preview {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.product-preview-image {
  width: 120px;
  height: 120px;
  object-fit: contain;
  flex-shrink: 0;
}

.product-preview-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.product-preview-content span:first-child {
  font-size: 1.15rem;
  font-weight: 600;
  line-height: 1.4;
}

.product-preview-content small {
  color: var(--text-secondary);
  font-size: 0.85rem;
} 

.preview-price > span {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-primary);
}

.preview-price {
  display: flex;
  flex-direction: column;
}

.error-message {
  display: block;
  text-align: center;
  color: var(--color-error);
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.4;
  
}

.message {
  display: block;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.4;
}